{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="container">
          <nav id="nav-3">
              <img class="logo-3" src="{% static 'images/base/logo_small_1.jpg' %}" >
              <a class="link-3" href="#">Home</a>
              <a class="link-3" href="#">About</a>
              <a class="link-3" href="#">Pricing</a>
              <a class="link-3" href="#">Contact</a>
          </nav>
        </div>
    </header>
    <main>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
