#topLeft
{
   float:left;
   width: 50%;
}

#topRight
{
   float:left;
   width: 50%;
}

#bottom
{
   clear:both;
   margin: auto;
   width: 50%;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
}

#map {
   height: 400px;  /* The height is 400 pixels */
   width: 100%;  /* The width is the width of the web page */
}

/* Texty */
.title{
    color: black;
	text-align: center;
	font: 32px Sawarabi Mincho;
}
.info_left{
    color: black;
	text-align: left;
	font: 20px Sans-serif;
	padding-left: 60px;
}

.img_padding {
   padding-left: 20px;
}

.box {
   display: flex;
   align-items:center;
}

hr.line_dashed {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
	width:90%
}

/* Form */
.formtext{
    color: black;
	text-align: left;
	font: 20px Sans-serif;
}
button[type=submit] {
    width: 100%;
    background-color: #a04e1c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type=submit]:hover {
    background-color: #b37700;
}

.formfield{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Footer */
.footer-distributed {
      display: none;
}