#topLeft
{
   float:left;
   width: 50%;
}

#topRight
{
   float:left;
   width: 50%;
}

#bottom
{
   clear:both;
   width: 100%;
}

#map {
   height: 400px;  /* The height is 400 pixels */
   width: 100%;  /* The width is the width of the web page */
}

.title{
    color: black;
	text-align: center;
	font: 32px Sawarabi Mincho;
}

.info_center{
    color: black;
	text-align: center;
	font: 20px Sans-serif;
}

.info_left{
    color: black;
	text-align: left;
	font: 20px Sans-serif;
}

.info_padding{
    padding-bottom: 60px;
}

.inline {
display: inline-block;
margin:10px;
}

.inline_img {
    padding-right: 60px;
    vertical-align:middle;
}

hr.style {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
	width:90%
}

/* Footer */
.footer-distributed {
      display: none;
}